#reportsList{
    width: 100%;
    .singleReport{
        border: 2px solid white;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        padding: 15px;
        color: white;
        h1{
            width: 33%;
            text-align: center;
        }
        .date{
            border-left: 2px solid white;
            border-right: 2px solid white;
        }
        button{
            background-color: transparent;
            color: white;
            border: 2px solid white;
            padding: 5px 10px;
            border-radius: 20px;
            cursor: pointer;
            &:hover{
                background-color: white;
                color: grey;
            }
        }
    }
}