#form{
    min-height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2021/02/03/18/01/abstract-5978801_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logoImg{
        width: 275px;
        height: 200px;
        margin-bottom: 40px;
        img{
            width: 100%;
        }
    }
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        label{
            margin-bottom: 5px;
        }
        input, select, button{
            height: 50px;
            width: 300px;
            margin-bottom: 15px;
        }
        h1{
            text-align: center;
            margin-bottom: 25px;
        }
        input{
            background-color: rgb(104 115 122);
            border: none;
            outline: none;
            color: white;
            padding-left: 20px;
            font-size: 18px;
        }
        select{
            width: 100%;
            background-color: rgb(104 115 122);
            color: white;
            border: none;
            outline: none;
            font-size: 18px;
            padding-left: 20px;
        }
        option{
            color: black;
            background-color: rgba(180, 180, 180, 0.2);;
        }
        button{
            margin-top: 20px;
            width: 60%;
            background-color: rgb(255, 122, 0);
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: 900;
        }
    }
}