#info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    .candidateInfo{
        display: flex;
        // flex-direction: column;
        align-items: center;
        background-color: white;
        margin: 20px 100px;
        > img{
            border-radius: 50%;
            height: 250px;
        }
        > div{
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                margin-bottom: 10px;
            }
            h3{
                margin: 10px 0;
            }
            button{
                width: 50%;
                background-color: rgb(255, 122, 0);
            }
        }
    }
}