#info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    // align-items: center;
    background-color: rgb(28 42 35);
   
    .candidateInfo{
        display: flex;
        align-items: center;
        margin: 20px 100px;
        
        color: white;
       .candidateDetails{
        width: 27%;
        
        >h2{
            border-bottom: 1px solid white;
        }
        
    
    }
        > img{
            border-radius: 50%;
            height: 250px;
            width: 250px;
        }
        > div{
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                margin-bottom: 10px;
            }
            h3{
                margin: 10px 0;
                border-bottom: 1px solid white;
            }
        }
    }
}