#footer{
    background-color: rgba(128, 128, 128, 0.5);
    .listOfCompanies{
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        padding: 15px;
        
    }li{
        margin: 0 30px;
        font-size: 20px;
        font-weight: 900px;
        cursor: pointer;
        color: white;
    }
    a{
        text-decoration: none;
        color: white;
        img{
            height: 40px;
            &:hover{
                transform: scale(1.3);
        transition-duration: 0.3s ;
            }
        }
    }
}