@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#light-app{
  font-family: 'Arima', cursive;  
  background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}


#dark-app{
  font-family: 'Arima', cursive;  
  background-image: url(https://images.unsplash.com/photo-1532024802178-20dbc87a312a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

