#admin {
  position: relative;

  main {
    background-color: rgb(28 42 35);
    padding-top: 50px;
    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 200px;
      .search-image {
        position: relative;
        input {
          padding: 10px 20px;
          border-radius: 20px;
          font-weight: 600;
          outline: none;
        }
        img {
          height: 25px;
          position: absolute;
          top: 5px;
          right: 10px;
          cursor: pointer;
        }
      }

      .admin-button {
        padding: 10px 25px;
        background-color: rgb(245 130 31);
        cursor: pointer;
        border: 2px solid rgb(245 130 31);
        color: white;
        font-weight: 700;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        font-size: 20px;
        text-decoration: none;
      }
      .newReport-button {
        padding: 10px 25px;
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        border: 2px solid rgb(245 130 31);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        text-decoration: none;
        color: white;
        &:focus {
          padding: 10px 25px;
          background-color: rgb(245 130 31);
          cursor: pointer;

          // border: 2px solid rgb(245 130 31);
          color: white;
          font-weight: 700;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          text-decoration: none;
        }
      }
    }

    .reports {
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      margin: 50px 300px;
    }
  }
}
