#homePage {
  // background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-color: rgb(28 42 35);
  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 200px;
    cursor: pointer;
  }
  main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
    .search-image {
      position: relative;
      input {
        padding: 10px 20px;
        border-radius: 20px;
        outline: none;
        font-weight: 600;
      }
      img {
        height: 25px;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
      }
    }
    button {
      padding: 10px;
      border: none;
      cursor: pointer;
    }
    .myCandidates {
      padding: 10px 25px;
      background-color: rgb(245 130 31);
      cursor: pointer;
      border: 2px solid rgb(245 130 31);
      color: white;
      font-weight: 700;
      border-radius: 20px;
      text-decoration: none;

      &:hover {
        background-color: rgba(245, 131, 31, 0.788);
      }
    }
  }
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

