#homePage {
    background-color: yellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://images.pexels.com/photos/5622897/pexels-photo-5622897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 150px;
    cursor: pointer;

  

    
  
  }
  main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
    .search-image {
      position: relative;
      input {
        padding: 10px 20px;
        border-radius: 20px;
        outline: none;
        font-weight: 600;
      }
      img {
        height: 25px;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
      }
    }
    button {
      padding: 10px;
      border: none;
      cursor: pointer;
        
    }
    .myCandidates {
      background-color: rgb(245 130 31);
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      &:hover{
        background-color: rgba(245, 131, 31, 0.788);;
      }
    }
  }
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  // a {
  //   background-color: grey;
  //   color: black;
  //   font-size: 20px;
  //   border: 3px solid grey;
  //   border-radius: 10px;
  // }
  
}
